@media (max-width: 768px) {
    .ItemContent {
      display: flex;
      flex-direction: column;
    }
    .ItemImage{
        width: 100%;
        height: 100%;
    }
    .containerItem{
        width: 100%;
        height: 100%;
    }
    .ItemCompany{
        display: flex;
        flex-direction: column;
    }
}